$color-text: var(--color-text);
$color-gray-1: var(--color-gray-1);

.month {
  height: 100%;
  padding: 1em;
  box-sizing: border-box;

  &__title {
    display: flex;
    align-items: flex-end;
    height: 8em;
    > div {
      display: flex;
      align-items: center;
      margin: 0 1em;
      > span {
        margin-right: 1em;
      }
      > div {
        padding: 0.5em;
        box-sizing: border-box;
        cursor: pointer;
        > svg {
          fill: $color-text;
        }
        &:hover {
          background-color: $color-gray-1;
        }
      }
    }
  }

  &__calendar {
    display: grid;
    grid-template-columns: 6fr 4fr;
    gap: 1em;
    height: calc(100% - 8em);
  }
}

.calendar {
  position: relative;

  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    background-color: rgba(213, 215, 216, 0.8);
    > svg {
      margin-bottom: 1em;
      fill: $color-text;
    }
  }
}

.friend {
  position: relative;
  height: 100%;
  > div {
    margin: 1em 0;
  }

  &__list {
    position: absolute;
    width: 100%;
    height: calc(100% - 8em - 2em); // title: 8em, margin: 2em 뺀 나머지.
    overflow-y: auto;
    > div {
      margin-bottom: 1em;
    }
  }
}
