{
  "root": true,
  "env": {
    "browser": true,
    "es2021": true,
    "node": true,
    "jest": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:react/recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking",
    "plugin:prettier/recommended",
    "plugin:jest/recommended",
    "plugin:cypress/recommended"
  ],
  "ignorePatterns": ["webpack.**.js", "jest.config.ts", "setupTests.ts"], // lint 설정을 무시할 설정 파일
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "project": ["./tsconfig.json"]
  },
  "plugins": ["react", "@typescript-eslint", "jest", "cypress", "prettier"],
  "rules": {
    "no-var": "error",
    "no-unused-vars": "error", // 사용하지 않는 변수 금지
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }], // 콘솔 로그 사용 가능 (콘솔 로그 사용시 경고 → ["warn", { "allow": ["warn", "error", "info"] }] )
    "prettier/prettier": "error"
  }
}
