@use "@styles/common/Profile.module.scss";
@use "@styles/common/Input.module.scss";
$color-background: var(--color-background);
$color-text: var(--color-text);
$color-gray_1: var(--color-gray-1);
$color-gray_2: var(--color-gray-2);
$color-gray_3: var(--color-gray-3);
$color-gray_4: var(--color-gray-4);
$color-gray_5: var(--color-gray-5);

.page-container {
  height: 100%;
  display: grid;
  grid-template-rows: 12% 88%;
  align-items: center;
  gap: 1em;
  padding: 1em;
  padding-top: 0em;
  box-sizing: border-box;

  .item-header {
    height: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    padding: 0 1em;
    box-sizing: border-box;

    &__search {
      position: relative;
      width: calc((100% - 6.5em) / 3);
      max-width: 30%;

      .searchInput {
        @extend .input;

        &__icon {
          @extend .input__icon;
        }

        &__button {
          @extend .input__icon;
          margin: 0 0.1em;
          padding: 0.2rem 0.5rem;
          box-sizing: border-box;
          border-radius: 0;
          &:hover {
            background-color: $color-gray_1;
          }
        }
      }

      .divider {
        height: 1.3em;
        background-color: $color-gray_3;
      }

      .date__picker {
        position: absolute;
        top: 2.5em;
        left: calc(10em + 5em);
        z-index: 3;
        background-color: $color-gray_1;

        > div {
          position: relative;
        }

        &__button {
          position: absolute;
          left: 1em;
          bottom: 1em;
          color: $color-gray_5;
          cursor: pointer;
        }
      }
    }

    &__box {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 1em;

      > span {
        display: block;
        color: $color-gray_5;
      }
    }

    &__sort {
      display: inline-flex;
      gap: 0.5em;

      > span {
        cursor: pointer;
      }

      > :nth-child(2n-1) {
        padding-right: 0.5em;
        box-sizing: border-box;
        border-right: 0.1rem solid $color-text;
      }

      &--none {
        color: $color-gray_4;
      }
    }
  }

  > .item-list {
    width: 100%;
    height: calc(100% - 1em);
    overflow-y: auto;
    scroll-behavior: smooth;
    margin-bottom: 1em;
  }
}

.card-list {
  position: relative;
  height: 100%;
  display: grid;
  padding: 0em 1em;
  box-sizing: border-box;
  grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  grid-template-rows: repeat(2, 20em);
  place-items: center stretch;
  gap: 0.5em 2em;

  > div:last-child(1) {
    height: 1px;
  }

  &--none {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: $color-gray_4;
    font-size: 0.875rem;
  }

  &--load {
    position: absolute;
    width: 100%;
    height: 100%;
    transition: opacity 1s ease;
  }
}

.card-item {
  height: 100%;
  padding: 0.5em 0em;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.2));
  cursor: pointer;
  position: relative;

  @keyframes loading {
    50% {
      background-color: $color-gray-2;
    }
  }

  &__image-box,
  .skeleton-image {
    width: 100%;
    height: 80%;
    max-height: 20em;
    background-color: $color-gray_1;
    border-bottom: 1.5px solid $color-gray_4;

    > img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  .skeleton-image {
    position: absolute;
    top: 0;
    left: 0;
    animation: loading 2s infinite ease-in-out;
  }

  &__profile {
    min-height: max-content;
    height: 20%;
  }
}

.social-profile {
  &__container {
    @extend .fprofile_container;
    height: 100%;
    border-radius: 0em;
  }

  &__img {
    @extend .profile_img;
    > :nth-child(1) {
      width: 42px;
      height: 42px;
    }
  }

  &__content {
    @extend .fprofile_content;
  }

  &__button {
    @extend .fprofile_button;
    > div {
      background-color: $color-background;
    }
  }
}
