/* DataRangePicker */
.rdrCalendarWrapper {
  background-color: transparent;

  .rdrMonthAndYearWrapper {
    height: 4em;
    padding: 0;

    select {
      padding: 5px 15px;
      background: none;

      option {
        padding: 5px 30px 5px 10px;
      }
    }

    .rdrNextButton,
    .rdrPprevButton {
      background-color: transparent;

      &:hover {
        background-color: transparent;
      }

    }

    .rdrPprevButton i {
      border-width: 4px 6px 4px 4px;
      border-color: transparent var(--color-text) transparent transparent;
      transform: translate(-3px, 0px);
    }

    .rdrNextButton i {
      margin: 0 0 0 7px;
      border-width: 4px 4px 4px 6px;
      border-color: transparent transparent transparent var(--color-text);
      transform: translate(3px, 0px);
    }
  }

  .rdrMonth {
    padding: 0;
    width: 27em;
  }
}

.rdrCalendarWrapper:not(.rdrDateRangeWrapper) {

  .rdrDayDisabled,
  .rdrDayStartPreview,
  .rdrDayEndPreview {
    background-color: transparent;
    border: none;
  }

  .rdrDayHovered .rdrDayNumber::after {
    top: 0;
    bottom: 0;
  }
}

.rdrDateRangeWrapper {

  .rdrStartEdgem,
  .rdrEndEdge,
  .rdrDayStartPreview,
  .rdrDayEndPreview {
    left: 8px;
    right: 8px;
  }

  .rdrDateDisplayItemActive {
    border: 1px solid var(--color-gray-4);
  }

}

.rdrDefinedRangesWrapper {
  width: 10em;
  border-right: 1px solid var(--color-gray-2);

  .rdrStaticRange {
    border-bottom: 1px solid var(--color-gray-2);
  }

  .rdrInputRange * {
    display: none;
    padding: 0;
  }
}

.rdrMonthAndYearWrapper,
.rdrMonthAndYearWrapper select option,
.rdrDateDisplayWrapper,
.rdrDefinedRangesWrapper,
.rdrStaticRange,
.rdrMonth {
  background-color: var(--color-gray-1);
}

.rdrDateDisplayItem,
.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel {
  background-color: var(--color-gray-2);
  color: black;
}

.rdrDayPassive .rdrDayNumber span {
  color: var(--color-gray-3) !important;
}

.rdrWeekDay,
.rdrStaticRange,
.rdrStaticRange:hover .rdrStaticRangeLabel,
.rdrStaticRange:focus .rdrStaticRangeLabel,
.rdrDayNumber span,
.rdrMonthAndYearWrapper select,
.rdrMonthAndYearWrapper option {
  color: var(--color-text);
}

.rdrSelected,
.rdrDayHovered span,
.rdrDayHovered>span {
  left: 8px;
  right: 8px;
  border: none;
}

.rdrDayStartOfWeek .rdrInRange {
  left: 8px;
}

.rdrDayEndOfWeek .rdrInRange {
  right: 8px;
}

.rdrMonthAndYearWrapper option:hover,
.rdrDayToday .rdrDayNumber span::after {
  background: var(--color-btn-blue);
}