.container {
  display: flex;
  flex-direction: row;

  height: 4em;
  border-radius: 1em;
  background-color: var(--color-gray-1);
  // background-color: aqua;
}

.img > img {
  height: 100%;
  margin-left: 0.8em;
  padding: 0.4em;
  box-sizing: border-box;
  border-radius: 50%;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 0.2em;
}

.profile span:nth-child(1) {
  margin-bottom: 0.2em;
}

.button {
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 0.8em;

  > button {
    justify-content: center;
    width: 6.2em;
    height: 2.875em;
    margin-right: 0.8em;
    border: none;
    border-radius: 0.625rem;
    background-color: var(--color-white);
    cursor: pointer;
  }
  > div {
    width: 2.5rem;
    height: 2.5rem;
    position: relative;
    border: none;
    border-radius: 50%;
    background-color: var(--color-white);
    cursor: pointer;
    > svg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      color: var(--color-btn-blue);
    }
  }
}
