$text: (
  small: 1rem,
  default: 1.125rem,
  semi-medium: 1.25rem,
  medium: 1.5rem,
  semi-large: 2rem,
  large: 2.4rem,
);

@each $key, $value in $text {
  .text-#{$key} {
    font-size: $value;
  }
}
