$color-text: var(--color-text);
$color-background: var(--color-background);
$color-gray-1: var(--color-gray-1);
$color-gray-2: var(--color-gray-2);
$color-gray-4: var(--color-gray-4);
$color-gray-5: var(--color-gray-5);
$color-blue: var(--color-btn-blue);
$color-warning: var(--color-warning);
$border: 1px;

.mypage {
  &__container {
    display: grid;
    grid-template-rows: 2fr 8fr;
    height: 100%;
  }

  &__profile {
    margin: auto 2em;
  }

  &__setting {
    display: inline-flex;
    margin: 0 1em 1em 1em;
  }

  &__contents {
    width: 100%;
  }
}

.frame {
  display: grid;
  grid-template-columns: 3.5fr 7.5fr;
  gap: 1em;
  height: 100%;
  padding: 0 1em;
  box-sizing: border-box;

  &__container {
    position: relative;
    height: 100%;
    width: 100%;
  }

  &__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
    border-bottom: 1px solid $color-text;
  }

  &__list {
    position: absolute;
    height: calc(100% - 120px - 1px);
    width: 100%;
    overflow-y: auto;
  }

  &__button {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    height: 60px;
    border-top: 1px solid $color-text;
    > div {
      display: flex;
      align-items: center;
      > svg {
        font-size: medium;
        padding: 0.5em;
      }
    }

    &--add,
    &--save,
    &--delete {
      cursor: pointer;
      &--disable {
        color: $color-gray-4;
        cursor: not-allowed;
      }
    }

    &--delete {
      color: $color-warning;
    }
  }

  &__contents {
    height: calc(100% - 120px - 2 * $border);
    position: relative;
    padding: 3em;
    box-sizing: border-box;
    overflow-y: auto;
  }

  &__line {
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;
    margin-bottom: 2em;
    > span {
      margin-right: max(2em);
      word-break: keep-all;
    }

    > input {
      height: 100%;
    }

    & + #date {
      display: grid;
      grid-template-columns: 2fr 7.5fr 0.5fr;

      > svg {
        justify-self: center;
        font-size: medium;
        fill: $color-text;
        cursor: pointer;
      }
    }
  }
}

#date {
  position: relative;
}

.date {
  &__picker {
    position: absolute;
    right: 0;
    top: 40;
    z-index: 1000;

    > svg,
    span,
    button {
      color: $color-text;
    }
  }
}

.diary {
  &__container {
    height: 100%;
    padding: 0 1em;
    box-sizing: border-box;
  }

  &__contents {
    position: relative;
    height: 100%;
  }

  &__line {
    display: inline-flex;
    margin-left: 3em;
    padding-top: 1em;
    > span:nth-child(1) {
      margin-right: 6em;
    }
    > div:nth-child(2) > span {
      color: $color-gray-5;
    }
  }

  &__button {
    @extend .frame__button;

    &--save {
      @extend .frame__button--save;
    }
  }

  &__modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2em;
    color: $color-text;
    > :nth-child(1),
    > :nth-child(2) {
      color: $color-warning;
    }
    > :nth-child(2) {
      margin-top: 0.5em;
      text-align: center;
    }
    > :nth-child(3) {
      margin-top: 1.5em;
      color: black;
    }
  }
}

.category {
  &__item {
    display: grid;
    grid-template-columns: 1fr 8fr 1fr;
    align-items: center;
    height: 3.5em;
    padding: 0 1em;
    box-sizing: border-box;
    border-bottom: 0.5px solid $color-gray-2;
    cursor: pointer;
    > div:nth-child(1) {
      justify-items: center;
    }
    > div:nth-child(3) {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    &--clicked {
      @extend .category__item;
      background-color: $color-gray-1;
    }

    &--hover {
      @extend .category__item;
      grid-template-columns: 1.2fr 8.8fr;
      > div:nth-child(1) {
        height: 30px;
        width: 30px;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
      }
      &:hover {
        background-color: $color-gray-1;
      }
    }
  }

  &__selector {
    max-height: calc(3.5em * 5);
    overflow-x: hidden;
    overflow-y: auto;
    background-color: $color-background;
    > div:nth-child(1) {
      position: fixed;
      height: 3.5em;
      width: 100%;
      line-height: 3.5em;
      padding: 0 1em;
      box-sizing: border-box;
      border-bottom: 0.5px solid $color-gray-5;
      background-color: $color-background;
    }
    > div:nth-child(2) {
      margin-top: 3.5em;
    }
    &--add {
      position: fixed;
      bottom: -3.5em;
      height: 3.5em;
      width: 100%;
      display: grid;
      grid-template-columns: 1.2fr 8.8fr;
      align-items: center;
      padding: 0 1em;
      box-sizing: border-box;
      border-top: 0.5px solid $color-gray-5;
      background-color: $color-background;
      cursor: pointer;
      > svg {
        font-size: medium;
        padding: 0.5em;
      }
    }
  }

  &__none {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    height: 100%;
    > span {
      color: $color-gray-4;
      margin-bottom: 1em;
    }
  }
}

.emoji__info {
  display: flex;
  flex-direction: column;
  background-color: $color-gray-1;
  margin-top: -1.5em;
  padding: 1em;
  gap: 0.2em;
  > span {
    display: flex;
    justify-items: center;
    gap: 0.2em;
    color: $color-gray-4;
    > svg {
      font-size: medium;
    }
  }
}

.color {
  &__container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    justify-items: center;
    gap: 1em;
  }

  &__item {
    width: 36px;
    height: 36px;
    border-radius: 50%;
    padding: 1px;
    box-sizing: border-box;
    cursor: pointer;

    &--clicked {
      @extend .color__item;
      outline: 1px solid $color-text;
      outline-offset: 2px;
    }
  }
}

#dday {
  min-height: 25em;
}

.dday {
  &__item {
    display: grid;
    grid-template-columns: 7fr 3fr;
    align-items: center;
    height: 4em;
    padding: 0 1em;
    box-sizing: border-box;
    border-bottom: 0.5px solid $color-gray-2;
    cursor: pointer;

    > div:nth-child(2) {
      text-align: end;
    }

    &--today {
      > span {
        color: $color-warning;
      }
    }

    &--plus {
      > span {
        color: $color-gray-4;
      }
    }

    &__title {
      display: flex;
      flex-direction: column;
      > span:nth-child(2) {
        color: $color-gray-4;
      }
    }

    &--clicked {
      @extend .dday__item;
      background-color: $color-gray-1;
    }
  }
}

#routine {
  &__days {
    margin: 0.5em 0 1em 0;
  }
}

.routine {
  &__item {
    display: grid;
    grid-template-columns: 9fr 1fr;
    gap: 1em;
    align-items: center;
    min-height: 5.5em;
    padding: 0.5em 1em;
    box-sizing: border-box;
    border-bottom: 0.5px solid $color-gray-2;
    cursor: pointer;

    > div:nth-child(2) {
      height: 30px;
      width: 30px;
      border-radius: 50%;
    }

    &--clicked {
      @extend .routine__item;
      background-color: $color-gray-1;
    }

    &--disable {
      @extend .routine__item;
      cursor: default;
    }
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 0.3em;

    > div > span {
      color: $color-gray-4;
    }

    &--disable {
      @extend .routine__info;
      color: $color-gray-5;
    }
  }
  &__day {
    &-list {
      display: flex;
      justify-content: space-between;
      width: 100%;
      > div > input {
        display: none;
      }
    }

    &-item {
      > label {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 45px;
        height: 45px;
        margin-top: 0.5em;
        border-radius: 50%;
        background-color: $color-gray-2;
        cursor: pointer;
      }

      > input:checked + label {
        background-color: $color-blue;
      }
    }
    &-text {
      width: 100%;
      margin: 0.5em 0 0 0.2em;
      > span {
        visibility: hidden;
        font-size: 0.75rem;
        color: $color-gray-4;
      }
      &--error {
        @extend .routine__day-text;
        > span {
          visibility: visible;
          color: #d32f2f;
        }
      }
    }
  }

  &__category {
    > div > div > input {
      cursor: pointer;
    }
  }

  &__period {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 1em;

    > div > div > input {
      caret-color: transparent;
    }

    > div {
      display: flex;
      align-items: center;
      gap: 10px;
      width: 100%;

      > div {
        min-width: 5em;
      }

      > svg {
        font-size: medium;
        cursor: pointer;
      }
    }
    > .start,
    .end {
      position: relative;
    }
  }
}

.tab {
  height: 100%;
  width: 10em;
  margin-right: 1em;
  > div:nth-child(2) {
    height: 12em;
  }
  &__title {
    > input {
      display: none;
      & + label {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
        height: 3em;
        padding-left: 1em;
        box-sizing: border-box;
        background-color: $color-gray-2;
        & + div {
          margin: 0.2em 0;
          overflow: hidden;
          cursor: pointer;
        }
      }
    }

    &--clicked {
      @extend .tab__title;
      > input + label {
        background-color: $color-blue;
      }
    }
  }

  &__contents {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $color-background;
    > div {
      padding: 0.5em 1.5em;
      box-sizing: border-box;
      &:hover {
        font-weight: 800; // 왜 안먹지
      }
    }
  }
}

.radio {
  margin: 1em 0.2em;

  &__label > span {
    display: flex;
    align-items: center;
    > svg {
      margin-right: 0.2em;
    }
  }
}

.info {
  &__cantainer {
    width: 100%;
    display: grid;
    height: 100%;
    grid-template-rows: 1fr min-content;
    padding: 0 1em;
    box-sizing: border-box;
  }

  &__contents {
    width: 100%;
    padding: 0.5em 3em 2em 3em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 3em;
  }

  &__line {
    display: grid;
    grid-template-columns: 2fr 8fr;
    align-items: center;

    > div:nth-child(1) {
      height: 100%;
      padding-top: 0.5em;
      box-sizing: border-box;
    }

    > div:nth-child(2) {
      width: 55%;
      min-width: fit-content;
    }
  }

  &__button {
    @extend .frame__button;
    position: static;

    &--save {
      @extend .frame__button--save;
    }
  }

  &__profile {
    &-nickname {
      display: flex;
      width: 100%;
      gap: 0.1em;
      align-items: baseline;

      > button {
        width: 20%;
      }
    }

    &-img {
      padding-top: 0.5em;
      position: relative;
      width: fit-content;

      > input[type="file"] {
        display: none;
      }

      > label {
        display: inline-block;
        > :nth-child(1) {
          width: 60px;
          height: 60px;
          cursor: pointer;
        }
      }

      &:hover .button--delete {
        position: absolute;
        bottom: 0;
        background-color: rgba(white, 0.7);
        width: 60px;
        height: 30px;
        line-height: 30px;
        text-align: center;
        border-radius: 0 0 30px 30px;
        cursor: pointer;

        &::after {
          content: "삭제";
          font-size: 0.875rem;
          color: $color-warning;
        }
      }
    }
  }

  &__password {
    display: flex;
    flex-direction: column;
    gap: 2em;

    & > :nth-child(2) {
      margin-bottom: 0.875rem;
    }
  }

  &__cancelMembership {
    margin-top: 0.6em;

    > p:nth-child(2) {
      line-height: 180%;
    }

    > div:last-child {
      width: fit-content;
      padding-top: 2em;
      box-sizing: border-box;

      span {
        cursor: pointer;
        color: $color-warning;
      }
    }
  }

  &__modal {
    @extend .diary__modal;
    > div:nth-child(4) {
      > div {
        &:nth-child(2) {
          background-color: #ffa9a9;
        }
      }
    }
  }
}

.friend {
  &__cantainer {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr;
    padding-right: 1em;
    overflow-y: auto;
  }

  &__content {
    overflow-y: auto;
    padding-right: 1em;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    row-gap: 1em;
  }

  &__frame {
    display: grid;
    row-gap: 1em;

    &__title {
      padding: 1em;
      box-sizing: border-box;
      border-bottom: 1px solid $color-text;
    }

    &__list {
      display: flex;
      flex-direction: column;
      row-gap: 1em;
      > span {
        margin: 3em 0em;
        text-align: center;
        color: $color-gray-4;
      }
    }
  }
}
