$category_1: #D9B5D9;
$category_2: #FFCBE1;
$category_3: #FF8FAD;
$category_4: #F1607D;
$category_5: #F1FCAD;
$category_6: #DAFFCB;
$category_7: #B6F7E1;
$category_8: #637F69;
$category_9: #FFE7C8;
$category_10: #FFAF6A;
$category_11: #CCDA61;
$category_12: #8668C2;
$category_13: #B6DEF7;
$category_14: #A6C9E9;
$category_15: #CCCCCC;
$category_16: #AEB8C1;